POSTGRES_USER=nogueira_admin
POSTGRES_PASSWORD=troque-por-uma-senha-muito-forte
POSTGRES_DB=nogueira_app
N8N_DB=n8n
N8N_HOST=automacoes.seudominio.com.br
N8N_ENCRYPTION_KEY=gere-uma-chave-com-openssl-rand-hex-32
